version: '3.8'

services:

  # -----------------------------------------------------------
  # 0. Kafka server
  # -----------------------------------------------------------
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafkaOpenSky
    ports:
      - "29092:29092"                  
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093
      
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      KAFKA_LOG_DIRS: /var/lib/kafka/data
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - flight_network 

  # -----------------------------------------------------------
  # 1. DATABASE USER MANAGER (MySQL)
  # -----------------------------------------------------------
  db:
    image: mysql:8.0
    container_name: mysql_container
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - flight_network

  # ------------------------------------
  # 2. Database per Data Collector (MongoDB)
  # ------------------------------------
  data_db:
    image: mongo:6.0
    container_name: flight_data_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - data_mongo_data:/data/db
    networks:
      - flight_network

  # -----------------------------------------------------------
  # 3. USER MANAGER
  # -----------------------------------------------------------
  user-manager:
    build:
      context: .
      dockerfile: user-manager/Dockerfile
    container_name: user_manager
    ports:
      - "50051:50051"
    expose:
      - "5000"
    depends_on:
      - db
    environment:
      - FLASK_APP=main.py
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root_password
      - DB_NAME=user_db
      - GRPC_PORT=50051
      - DATA_COLLECTOR_HOST=data-collector
      - DATA-COLLECTOR_GRPC_PORT=50052
    networks:
      - flight_network
  
  # -----------------------------------------------------------
  # 4. DATA COLLECTOR
  # -----------------------------------------------------------
  data-collector:
    build:
      context: .
      dockerfile: data-collector/Dockerfile
    container_name: data_collector
    ports:
      - "50052:50052"
    expose:
      - "5000"
    depends_on:
      - db
      - user-manager
      - kafka
    environment:
      - FLASK_APP=main.py
      - MONGO_URI=mongodb://admin:password123@data_db:27017
      - OPENSKY_USERNAME=hentoo-api-client
      - OPENSKY_PASSWORD=gB9yg2q5f2qoe4BCq7L1NWI3yucq5qLB
      - USER_MANAGER_HOST=user-manager
      - USER_MANAGER_GRPC_PORT=50051
      - GRPC_PORT=50052
    networks:
      - flight_network

  # -----------------------------------------------------------
  # 5. ALERT SYSTEM
  # -----------------------------------------------------------
  alertsystem:
    build:
      context: ./alertSystem
      dockerfile: Dockerfile
    container_name: alert_system
    environment:
      - PYTHONUNBUFFERED=1  
    depends_on:
      - kafka
    networks:
      - flight_network

 # -----------------------------------------------------------
  # 6. ALERT SYSTEM NOTIFIER
  # -----------------------------------------------------------
  alertsystemnotifier:
    build:
      context: ./alertSystemNotifier
      dockerfile: Dockerfile
    container_name: alert_system_notifier
    environment:
      - PYTHONUNBUFFERED=1  
    depends_on:
      - kafka
    networks:
      - flight_network

  # -----------------------------------------------------------
  # 7. NGINX SERVER
  # -----------------------------------------------------------
  nginx:
    image: nginx:latest
    container_name: nginx_routing
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - user-manager
      - data-collector
    volumes:
      - ./nginx/routing.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl
    networks:
      - flight_network
    restart: always



volumes:
  db_data:
  data_mongo_data:
  kafka-data:



networks:
  flight_network:
    driver: bridge