
apiVersion: v1
kind: ConfigMap
metadata:
  name: shared-config
data:
  DB_HOST: "db"
  KAFKA_BOOTSTRAP_SERVERS: "kafka-service:9092"
  
  DB_USER: "root"
  DB_NAME: "user_db"
  MONGO_INITDB_ROOT_USERNAME: "admin"
  OPENSKY_USERNAME: "shisui-api-client"
  
  SMTP_SERVER: "smtp.gmail.com"
  SMTP_PORT: "465"
  SENDER_EMAIL: "gabrieleflorio18@gmail.com"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-script
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS user_db;
    USE user_db;
    CREATE TABLE IF NOT EXISTS users (
        email VARCHAR(255) PRIMARY KEY,
        name VARCHAR(100),
        surname VARCHAR(100),
        age INT,
        CF VARCHAR(16),
        phone VARCHAR(20)
    );